#label-counter, #counter{
    width: 100%;
    display: flex;
    justify-content: center;
}


#container-grandson{
    width: 100%;
    display: flex;
    justify-content: center;
}
#box{
    width: 100px;
    height: 100px;
    background: blue;
}

.box-yellow{
    background: yellow !important;
}