<div id="all" [ngClass]="{'background-yellow': brand=='amarillo'}">
  <select id="brand" [ngModel]="brand" (ngModelChange)="onChange($event)">
    <option value="azul">Azul</option>
    <option value="amarillo">Amarillo</option>
  </select>
  <div class="body-father">
    <div id="label-counter">Contador desde padre</div>
    <div id="counter">
      {{count}}
    </div>
    <div id="actions-container">
      <input type="button" value="Anadir" (click)="add()">
      <input type="button" value="Quitar" (click)="extract()">
    </div>
  </div>
  <div class="body-son" [ngClass]="{'body-son-yellow': brand=='amarillo'}">
    <app-son></app-son>
  </div>

</div>
  
